<footer class="footer">
	<div class="footer-container">
		<div class="footer-logo">
			<a href="{{ site.navigation.Accueil }}" aria-label="Retour à l'accueil">{% include custom/logo.html %}</a>
		</div>
		<div class="footer-navigation">
			<div class="footer-links">
				<h4 class="footer-title">{{ site.title }}</h4>
				<nav>
					{% include core/navigation.html %}
				</nav>
			</div>
		</div>
		<h6 class="footer-text">© {{ site.time | date: '%Y' }} <a href="{{ site.author.social.instagram }}" aria-label="Suivre {{ site.author.name }} sur instagram.">{{ site.author.name }}</a>. Tous droits réservés.</h6>
	</div>
</footer>
