<aside id="metabar" class="metabar{% if include.color %} {{ include.color }}{% endif %}">
	<div class="metabar-wrapper">
		<div class="metabar-left">
			<a class="metabar-logo" href="{{ site.navigation.Accueil }}" aria-label="Retour à l'accueil" title="Retour à l'accueil">
				{% include custom/logo.html %}
			</a>
			<span class="metabar-spacer"></span>
			<a class="metabar-title" href="{{ site.baseurl }}{% if page.url == '/' %}#" data-scroll{% else %}"{% endif %} aria-label="Retour à l'accueil" title="Retour à l'accueil">{{ site.title }}</a>
		</div>
		<div class="metabar-right">
			<button id="js-navOpen" class="nav-open">Menu</button>
			<nav id="js-metabarNav" class="metabar-nav">
				<button id="js-navClose" class="nav-close">Close</button>
				{% include core/navigation.html %}
			</nav>
		</div>
	</div>
</aside>
